body{
    background: #f5a9a9;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

#app{
    display: grid;
    height:100vh;
    background-image: url("https://images.unsplash.com/photo-1690315854810-dfeb1c763c27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #000;
    grid-gap: 2.5em;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    grid-template-rows: 2fr, 2fr, 5fr;
    grid-template-columns: repeat (2, 1fr);
    grid-template-areas: "header header header header"
                         "city dates1 dates2 button"
                         "forecast pic pic pic";
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.holder_headline {
    grid-area: header;
    min-width: 90vw;
    min-height: auto;
    justify-self: center;
    align-self: center;
    font-size: 3.5rem;
    text-decoration: underline;
    font-weight: bolder;
    color: #f28282;
    margin: 1rem;
    text-align: center;
    font-family: 'Snell Roundhand';
}

.holder_entry {
    background: rgba(2, 17, 89, 0.653);
    grid-area: forecast;
}

/* Add styles for the weather data container */
#weatherData {
    grid-area: forecast;
    max-height: 60vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the container height */
    padding: 1rem; /* Add some padding to the container */
  }
  
  /* Add styles for each set of weather data */
  #weatherData div {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    }

    /* Weather Data Title */
    .title {
    display: flex;    
    justify-content: center;
    align-content: center;
    color: #fff;
}

/* Image countainer, layout and styling */
.holder_image {
    grid-area: pic;
    min-height: 60vh;
    max-height: 65vh;
    contain: strict;
    }

#countryImage {
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: none;
}

.holder_city {
    grid-area: city;
    max-height: auto;
    justify-self: center;
    align-self: center;
}

.holder_start_date {
    grid-area: dates1;
    max-height: auto;
    display: wrap;
    justify-self: center;
    align-self: center;
}

.holder_end_date {
    grid-area: dates2;
    max-height: auto;
    display: wrap;
    justify-self: center;
    align-self: center;
}

.holder_button {
    grid-area: button;
    max-height: auto;
    display: wrap;
    justify-self: center;
    align-self: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1.5px 1.5px #000;
}

input{
    display:block;
    background: rgb(232, 240, 254);
    color: #000;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    }
input:hover{
    cursor: pointer;
}

button{
    grid-area: button;
    width: 100%;
    height: auto;
    background: rgb(2, 17, 89);
    color: #f5a9a9;
    font-size: 1.25rem;
    text-shadow: 2px 2px 0 #000;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 2px 4px 5px #000;
    padding: 1rem;
    display: block;
}

button:hover {
    font-size: 1.5rem;
    background-color: #483D8B;
    color: #fff;
    cursor: pointer;
}

h1{
    font-size: 2rem;
}

h4{
    color: #f67171;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: Georgia;
    text-shadow: 1px 1px #fff;
}

textarea{
    background: rgb(232, 240, 254);
    color: #000;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #000; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #000; 
    font-family: 'Oswald', sans-serif;

} 

/* Media query for portrait tablets and large phones */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #app {
        display: grid;
        height:100%;
        background-image: url("https://images.unsplash.com/photo-1690315854810-dfeb1c763c27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        color: #000;
        font-size: 0.5rem;
        font-family: 'Oswald', sans-serif;
        grid-template-rows: 0.6fr 0.5fr 0.5fr 5fr; 
        grid-template-columns: repeat (2, 1fr); 
        grid-template-areas:
            "header header"
            "city dates1"
            "dates2 button"
            "forecast pic";
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .holder_headline {
        font-size: 3rem;
        margin: 1rem 0 0 0;
    }

    label {
        display:block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        text-shadow: 1.5px 1.5px #000;
    }

    input {
        display:block;
        background: rgb(232, 240, 254);
        color: #000;
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        border: none;
    }

    .holder_city {
        grid-area: city;
        max-height: auto;
        justify-self: center;
        align-self: center;
    }
    
    .holder_start_date {
        grid-area: dates1;
        max-height: auto;
        display: wrap;
        justify-self: center;
        align-self: center;
    }
    
    .holder_end_date {
        grid-area: dates2;
        max-height: auto;
        display: wrap;
        justify-self: center;
        align-self: center;
    }
    
    .holder_button {
        grid-area: button;
        max-height: auto;
        display: wrap;
        justify-self: center;
        align-self: center;
    }

    button {
        grid-area: button;
        width: 100%;
        height: auto;
        background: rgb(2, 17, 89);
        color: #f5a9a9;
        font-size: 1.5rem;
        text-shadow: 2px 2px 0 #000;
        font-family: 'Oswald', sans-serif;
        font-weight: bolder;
        border-radius: 5px;
        box-shadow: 2px 4px 5px #000;
        padding: 1rem;
        display: block;
        margin: 1rem 0;
    }
    
    button:hover {
        font-size: 1.5rem;
        background-color: #483D8B;
        color: #fff;
        cursor: pointer;
    }

    /* Weather Data */
    .holder_entry {
        background: rgba(2, 17, 89, 0.653);
        grid-area: forecast;
    }

    .title {
        display: flex;    
        justify-content: center;
        align-content: center;
        color: #fff;
        font-size: 1.5rem;
    }

    #weatherData {
        grid-area: forecast;
        overflow-y: auto; /* Add a vertical scrollbar when content exceeds the container height */
        padding: 1rem; 
        font-size: 1.5rem;
    }

    /* Image countainer, layout and styling */
    .holder_image {
        grid-area: pic;
        contain: strict;
    }
 
    h4 {
        color: #f67171;
        font-weight: bolder;
        font-size: 1.5rem;
        font-family: Georgia;
        text-shadow: 1px 1px #fff;
        display: grid;
        align-content: center;
        justify-content: center;
        margin: 0;
        padding: 1rem 0 0.5rem 0;
    }

    #countryImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
        align-content: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    } 
}

/* Media query for small screen devices */
@media (max-width: 480px) {
    #app {
        height: 100%;
        width: 100%;
        grid-template-areas:
            "header"
            "city"
            "dates1"
            "dates2"
            "button"
            "forecast"
            "pic";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        font-size: 0.9rem;
    }

    .holder_headline {
        font-size: 2rem;
    }

    label {
        display:block;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-shadow: 1.5px 1.5px #000;
    }

    input {
        display:block;
        background: rgb(232, 240, 254);
        color: #000;
        font-size: 1rem;
        font-family: 'Oswald', sans-serif;
        border: none;
        }

    /* Weather Data */
    .holder_entry {
        background: rgba(2, 17, 89, 0.653);
        grid-area: forecast;
        margin-top: 0.75rem;
    }

    .title {
        display: flex;    
        justify-content: center;
        align-content: center;
        color: #fff;
        font-size: 1.25rem;
    }

    #weatherData {
        grid-area: forecast;
        overflow-y: auto; /* Add a vertical scrollbar when content exceeds the container height */
        padding: 1rem; 
        font-size: 1rem;
    }

    .holder_city,
    .holder_start_date,
    .holder_end_date,
    .holder_button {
        max-height: none;
    }

    .holder_image {
        grid-area: pic;
        contain: strict;
        }
    
    #countryImage {
        object-fit: contain;
        display: none;
        height: 100%;
        width: 100%;
        align-content: center;
        justify-content: center;
        }

    h4 {
        color: #f67171;
        font-weight: bolder;
        font-size: 1.25rem;
        font-family: Georgia;
        text-shadow: 1px 1px #fff;
        display: grid;
        align-content: center;
        justify-content: center;
    }

    button {
        font-size: 1rem;
    }
}
